@use "sass:map";
@use "../../../../styles/tokens" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 50;
}

.main {
  flex: 1 1 0%;
  padding: map.get($spacing-scale, 6) 0;
}
