.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::ng-deep {
  app-header {
    position: sticky;
    top: 0;
    z-index: 50;
    display: block;
    width: 100%;
    flex-shrink: 0;
  }
  
  app-header .app-header {
    position: sticky;
    top: 0;
    z-index: 50;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
