<footer class="app-footer">
  <app-container>
    <div class="app-footer__content">
      <div class="app-footer__left">
        <div class="app-footer__logo">
          <mat-icon>science</mat-icon>
        </div>
        <span class="app-footer__copyright">© {{ currentYear }} HumanAIty. All rights reserved.</span>
      </div>
      
      <div class="app-footer__links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Support</a>
      </div>
    </div>
  </app-container>
</footer>


