@use "sass:map";
@use "tokens" as *;
@use "typography" as *;
@use "app-shell" as *;

.item { @include hai-row(3); }

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.content { min-width: 0; flex: 1 1 0%; }

.title {
  @include hai-body-small;
  font-weight: 500;
  margin: 0;
}

.desc {
  @include hai-meta;
  margin: map.get($spacing-scale, 0.5) 0 0 0;
}

.time {
  @include hai-meta;
  opacity: 0.7;
  margin: map.get($spacing-scale, 1) 0 0 0;
}
