@use "sass:map";
@use "../../../../styles/tokens" as *;
@use "../../../../styles/typography" as *;

.event-item {
  display: flex;
  gap: map.get($spacing-scale, 3);
}

.event-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.event-item__content {
  min-width: 0;
  flex: 1 1 0%;
}

.event-item__title {
  @include hai-body-small;
  font-weight: 500;
  margin: 0;
}

.event-item__description {
  @include hai-meta;
  margin: map.get($spacing-scale, 0.5) 0 0 0;
}

.event-item__timestamp {
  @include hai-meta;
  opacity: 0.7;
  margin: map.get($spacing-scale, 1) 0 0 0;
}
