<div class="flex gap-3">
  <div
    class="flex h-8 w-8 items-center justify-center rounded-full"
    [style.background-color]="getBackgroundColor()">
    <mat-icon class="text-base" [style.color]="getIconColor()">{{ getIcon() }}</mat-icon>
  </div>
  <div class="min-w-0 flex-1">
    <p class="text-sm font-medium text-onSurface">{{ title() }}</p>
    <p class="mt-0.5 text-xs text-onSurfaceVariant">{{ description() }}</p>
    <p class="mt-1 text-xs text-onSurfaceVariant/70">{{ timestamp() }}</p>
  </div>
</div>


