<div class="my-cities-page">
  <div class="my-cities-page__header">
    <h1 class="my-cities-page__title">My Cities</h1>
    <button mat-raised-button color="primary" routerLink="/cities/create" class="my-cities-page__new-button">
      Create New City
    </button>
  </div>

  @if (cities().length === 0) {
    <mat-card class="my-cities-page__empty-card">
      <mat-card-content class="my-cities-page__empty-content">
        <p class="my-cities-page__empty-text">You haven't created any cities yet.</p>
        <button mat-raised-button color="primary" routerLink="/cities/create" class="my-cities-page__empty-button">
          Create Your First City
        </button>
      </mat-card-content>
    </mat-card>
  } @else {
    <div class="my-cities-page__grid">
      @for (city of cities(); track city.id) {
        <app-city-card [city]="city" [routerLink]="['/cities', city.id]"></app-city-card>
      }
    </div>
  }
</div>

