.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 20px;
}

.logo-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}
