:host {
  display: block;
  padding: 1rem;
}

.create-city-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}

.create-city-card {
  width: 100%;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: #f44336;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

