:host ::ng-deep {
  canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.menu {
  border: 1px red solid;
  border-radius: 12px;
  margin: 1rem;

  & > * {
    padding: 1rem;
  }
}

.map-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #111;
}


